.homepage {
    display: flex;
    flex-direction: column;
    margin: auto clamp(.25rem, .25rem + 2vw, 3rem);
}

.homepage > * {
    margin: 1rem auto;
}

@media(min-width: 1000px) {
    .homepage {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2em;
    }

    .homepage > * {
        flex: 0 1 40%;
        align-self: top center;
    }

    #item-3 {
        flex: 0 1 40%;
        align-self: flex-start;
        align-self: flex-end;
    }
}

.intro-block {
    background-color: #21232A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 1em;
}

#item-4 {
    justify-content: flex-start;
}

.title-block h1 {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    align-items: center;
}

.title-block h1 span {
    color: green;
}

.title-block p {
   font-family: grandstander;
   font-size: clamp(.3rem, .3rem + 2vw, 1rem);
    line-height: 1.5em;
}



.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5 rem 3 rem  -0.75rem hsla(0, 0%, 0% 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;  
    max-width: 100%;  
}

.slider-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    position: relative;
    bottom: .75rem;
    transition: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.quick-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quick-links > * {
    align-self: center;
    flex-basis: 40%;
}

@media (min-width: 400px) {
    .quick-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 2em;
    }

    .quick-links > * {
        flex-grow: 1;
    }
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1373c0;
    border-radius: 1em;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: .5em;
    width: 60%
}

.link > * {
    margin: 0 auto;
}

.linklabel {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    color: white;
    text-decoration: none;
}

.linkimage {
    width: 12vh;
    height: 12vh;
}

.linklabel:hover {
    text-decoration: underline;
    color: black
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
  }
  
 table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1789e5;
    color: white;
}

#new-question-button {
    margin-top: 1em;
    background-color: #1789e5;
    color: white;
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border-radius: 1em;
    align-self: flex-start;
}

#new-question  {
    top: 30%;
    left: 30%;
    display: none;
    position: fixed;
    z-index: 99;
    overflow: hidden;
    margin-right: 0;
    color: white;
    background-color: #1789e5;
    font-family: grandstander;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem  -0.75rem hsla(0, 0%, 0% 0.25);
}

#new-question:target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-question h1 {
    color: white;
    font-family: grandstander;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#new-question form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    font-family: grandstander;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.label-element {
    margin-top: 1em;
    padding: 0.5em;
    font-size: auto;
    font-family: grandstander;
}

.form-element {
    margin-bottom: 1em;
    padding: 0.5em;
    font-family: grandstander;
    font-size: auto;
}

#submit-button-faq {
    margin-top: 1em;
    background-color: #21232A;
    color: white;
    padding: 0.5em;
    font-family: grandstander;
    font-size: small;
    border-radius: 1em;
    align-self: center;
}

#item-4 {
    display: none;
}

#item-5 {
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.perm-request-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perm-request-block > * {
    margin: 1rem;
    text-decoration: none;
    font-family: grandstander;
    font-size: 1.5rem;
}

.perm-request-block a {
    color: blue;
}

.perm-request-block a:hover {
    color: white;
}