.homepage {
    display: flex;
    flex-direction: column;
    margin: auto clamp(.25rem, .25rem + 2vw, 3rem);
}

.homepage > * {
    margin: 1rem auto;
}

@media(min-width: 1000px) {
    .homepage {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1em;
        row-gap: 1em;
    }

    .homepage > * {
        flex: 0 1 40%;
        align-self: top center;
    }
}

.intro-block {
    background-color: #21232A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    border-radius: 1em;
    margin: 1em;
}

#item-1 .title-block{
    justify-content: space-between;
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-block h1 {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    align-items: center;
    text-align: center;
}

.title-block h1 span {
    color: green;
}

.title-block p {
   font-family: grandstander;
   font-size: clamp(.3rem, .3rem + 2vw, 1rem);
   line-height: 1.5em;
   text-align: center;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item-info h1 {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    align-items: center;
    text-align: center;
}

.item-info h1 span {
    color: green;
}

.item-info p {
    font-family: grandstander;
    font-size: clamp(.3rem, .3rem + 2vw, 1rem);
    line-height: 1.5em;
    text-align: center;
}

.item-attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item-attributes > * {
    text-align: center;
}

#item-3 img, #item-4 img {
    max-width: 100%;
    max-height: 100%;
}

.item_title span {
    color: green;
}

.crafting-recipe {
    margin: 1rem;
}


.video {
    background-color: #21232A;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3vh;
    border-radius: 1em;
    flex: 0 1 40%;
}

#item-num-db {
    display: none;
}