.homepage {
    display: flex;
    flex-direction: column;
    margin: auto clamp(.25rem, .25rem + 2vw, 3rem);
}

.homepage > * {
    margin: 1rem auto;
}

@media(min-width: 1000px) {
    .homepage {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1em;
        row-gap: 1em;
    }

    .homepage > * {
        flex: 0 1 40%;
        align-self: top center;
    }
}

.intro-block {
    background-color: #21232A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    border-radius: 1em;
    margin: 1em;
}

.intro-block-image {
    background-color: #21232A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 2rem;
    border-radius: 1em;
    margin: 1em;
}

#item-1 .title-block{
    justify-content: space-between;
}

.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title-block h1 {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    align-items: center;
    text-align: center;
}

.title-block h1 span {
    color: green;
}

.title-block p {
   font-family: grandstander;
   font-size: clamp(.3rem, .3rem + 2vw, 1rem);
   line-height: 1.5em;
   text-align: center;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item-info h1 {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    align-items: center;
    text-align: center;
}

.item-info h1 span, .title span {
    color: green;
}

.item-info p {
    font-family: grandstander;
    font-size: clamp(.3rem, .3rem + 2vw, 1rem);
    line-height: 1.5em;
    text-align: center;
}

.item-attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.item-attributes > * {
    text-align: center;
}

.item-attributes h3 select {
    font-family: grandstander;
    font-size: clamp(.3rem, .3rem + 2vw, 1rem);
    line-height: 1.5em;
    text-align: center;
}

#item-3 img, #item-4 img {
    max-width: 100%;
    height: 100%;
}

.image-container-sub {
    position: relative;
    max-width: 100%;
    margin: 1rem;
}

.image-container-sub button {
    position: absolute;
    top: 50%;
    left: -5%;
}

.item_title span {
    color: green;
}

.crafting-recipe {
    margin: 1rem;
}


.video {
    background-color: #21232A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3vh;
    border-radius: 1em;
    flex: 0 1 40%;
}

#item-num-db {
    display: none;
}

#item-image {
    max-width: 80%;
    max-height: 80%;
}

#edit_item_btn {
    font-family: grandstander;
    font-size: clamp(.75rem, .75rem + 2vw, 2rem);
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}
#edit_item_btn:hover {
    text-decoration: underline;
}

.drop-area {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    max-height: 10%;
    padding: 15px;
    background-color: transparent;
    color: white;
    place-self: center;
    justify-self: center;
    align-self: center;
}

.img-view {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img-view img {
    max-width: 100%;
    max-height: 100%;
}

.item-image-area {
    margin: 2rem;
}

#editing-menu {
    cursor: move;
    right: 0;
    top: 0;
    z-index: 9;
    background-color: #21232A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 2rem;
    margin: 1em;
    position: absolute;
    width: 25%;
    height: 80%;
    overflow: scroll;
    text-align: center;
    box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.2);
    border-radius: 2rem;
}

.addcraftingimg {

}

.itemcraftingimageform {
}

.option-block {
    cursor: pointer;
    background-color: white;
    color: #21232A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: black 2pt dashed;
    margin-bottom: 0;
    border-radius: 2rem;
}

.option-block > * {
    flex: 0 1 100%;
}

.addimg {
    cursor: move;
}

#openclosemenudiv {
    top: 30%;
    right: 0;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
}

#img-view2, #img-view3, #item-image {
    border-radius: 0;
}

#img-view3 img, #img-view2 img {
    border-radius: 0;;
}