{% extends "base.html" %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/index.css') }}"/>
{% endblock %}

{% block body %} 
    <div class="homepage">
        <div class="intro-block" id="item-1">
            <div class="title-block">
                <h1 id="title">
                    Minecraft <span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <p id="site-purpose">
                    MC Verse is your home for Minecraft research. MC Verse is a community maintained platform that strides to bring knowledge of how to play Minecraft to everyone. Here you can find information on items, bosses, structures, and everything else from hundreds of mod packs as well as Vanilla Minecraft.
                </p>
            </div>
            <section class="container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-1" src="{{ homepage_images[0].src }}" alt="Image"/>
                        <img id="slide-2" src="{{ homepage_images[1].src }}" alt="Image"/>
                        <img id="slide-3" src="{{ homepage_images[2].src }}" alt="Image"/>
                        <img id="slide-4" src="{{ homepage_images[3].src }}" alt="Image"/>
                        <img id="slide-5" src="{{ homepage_images[4].src }}" alt="Image"/>
                        <img id="slide-6" src="{{ homepage_images[5].src }}" alt="Image"/>
                        <img id="slide-7" src="{{ homepage_images[6].src }}" alt="Image"/>
                        <img id="slide-8" src="{{ homepage_images[7].src }}" alt="Image"/>
                        <img id="slide-9" src="{{ homepage_images[8].src }}" alt="Image"/>
                        <img id="slide-10" src="{{ homepage_images[9].src }}" alt="Image"/>
                    </div>
                    <div class="slider-nav">
                        <a href="#slide-1"></a>
                        <a href="#slide-2"></a>
                        <a href="#slide-3"></a>
                        <a href="#slide-4"></a>
                        <a href="#slide-5"></a>
                        <a href="#slide-6"></a>
                        <a href="#slide-7"></a>
                        <a href="#slide-8"></a>
                        <a href="#slide-9"></a>
                        <a href="#slide-10"></a>
                    </div>
                </div>
            </section>  
        </div>
        <div class="intro-block">
            <div class="title-block">
                <h1 id="title">
                    Games <span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <p id="site-purpose">
                    Minecraft started as a single game made for kids but has exploded into a suite of games with different story lines and different progressions.
                </p>
            </div>
            <section class="container">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-21" src="{{ games_images[0].src }}" alt="Vanill Minecraft"/>
                        <img id="slide-22" src="{{ games_images[1].src }}" alt="Minecraft Dungeons"/>
                        <img id="slide-23" src="{{ games_images[2].src }}" alt="Minecraft Legends"/>
                        <img id="slide-24" src="{{ games_images[3].src }}" alt="Minecraft Realms"/>
                        <img id="slide-25" src="{{ games_images[4].src }}" alt="Minecraft Education"/>
                    </div>
                    <div class="slider-nav">
                        <a href="#slide-21"></a>
                        <a href="#slide-22"></a>
                        <a href="#slide-23"></a>
                        <a href="#slide-24"></a>
                        <a href="#slide-25"></a>
                    </div>
                </div>
            </section>  
        </div>
        <div class="intro-block" id="item-3">
            <div class="title-block">
                <h1 id="title">
                    Quick Game Basics <span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <p id="site-purpose">These are links to helpful information to help you get started on your adventure or to help you get out of tricky situations.
                </p>
            </div>
            <section class="container" id="con-2">
                <div class="slider-wrapper" id="wrapper-2">
                    <div id="link-box">
                        <div class="link" id="link-1" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[0].src }}">
                            <a class="linklabel" href="/learn/food">Food</a>
                        </div>
                        <div class="link" id="link-2" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[1].src }}">
                            <a  class="linklabel" href="/learn/farming">Farming</a>
                        </div>
                        <div class="link" id="link-3" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[2].src }}">
                            <a  class="linklabel" href="/learn/mining">Mining</a>
                        </div>
                        <div class="link" id="link-4" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[3].src }}">
                            <a  class="linklabel" href="/learn/mobs">Mobs</a>
                        </div>
                        <div class="link" id="link-5" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[4].src }}">
                            <a  class="linklabel" href="/learn/power">Power</a>
                        </div>
                        <div class="link" id="link-6" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[5].src }}">
                            <a  class="linklabel" href="/learn/storage">Storage</a>
                        </div>
                        <div class="link" id="link-7" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[6].src }}">
                            <a  class="linklabel" href="/learn/backpacks">Backpacks</a>
                        </div>
                        <div class="link" id="link-8" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[7].src }}">
                            <a  class="linklabel" href="/learn/dungeons">Dungeons</a>
                        </div>
                        <div class="link" id="link-9" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[8].src }}">
                            <a  class="linklabel" href="/item/home/weapon">Weapons</a>
                        </div>
                        <div class="link" id="link-10" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[9].src }}">
                            <a  class="linklabel" href="/learn/chisel2">Chisel 2</a>
                        </div>
                        <div class="link" id="link-11" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[10].src }}">
                            <a  class="linklabel" href="/learn/bibliocraft">Biblio</a>
                        </div>
                        <div class="link" id="link-12" role="button" tabindex="0">
                            <img class="linkimage" src="{{ learning_images[11].src }}">
                            <a  class="linklabel" href="/learn/journeymap">Journey</a>
                        </div>
                    </div>
                    <div class="slider-nav">
                        <a href="#link-1"></a>
                        <a href="#link-2"></a>
                        <a href="#link-3"></a>
                        <a href="#link-4"></a>
                        <a href="#link-5"></a>
                        <a href="#link-6"></a>
                        <a href="#link-7"></a>
                        <a href="#link-8"></a>
                        <a href="#link-9"></a>
                        <a href="#link-10"></a>
                        <a href="#link-11"></a>
                        <a href="#link-12"></a>
                    </div>
                </div>
            </section>
        </div>

        {% if useraccount.admin_flag == True %}
            <div class="intro-block" id="item-5">
                <div class="title-block">
                    <h1 id="title">Admin Tools<span class="material-symbols-outlined">rocket_launch</span>
                    </h1>
                </div>
                <div class="admin-tool-block">
                    <table>
                        <caption></caption>
                        <th>Tools</th>
                        <tr>
                            <td><a href="/item/admin">Manage Items</a></td>
                        </tr>
                        <tr>
                            <td><a href="/permissions/requests/admin">Manage Permissions Requests</a></td>
                        </tr>
                        <tr>
                            <td><a href="/admin/uploadimage">Upload Images</a></td>
                        </tr>
                        <tr>
                            <td><a href="/itemclasshome">Item Classes</a></td>
                        </tr>
                        <tr>
                            <td><a href="/managewebpages">Manage Learning Pages</a></tr>
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script/learning_div_clickable.js') }}"></script>
{% endblock %}
