{% extends "base.html" %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'item.css') }}"/>
{% endblock %}

{% block body %} 
    <div class="homepage">
        <div class="intro-block" id="item-1">
            <div class="title-block">
                <h1 id="title">
                    {{page_object.item_title }}
                    <span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <img id="item-image" src="{{page_object.image}}">
                <p id="site-purpose">{{page_object.description}}
                </p>
            </div>
        </div>
        <div class="intro-block" id="item-2">
            <div class="item-info">
                <h1 id="title">Item Info<span class="material-symbols-outlined">rocket_launch</span></h1>
                <h1 id="source-mod-factor">Source mod: Vanilla Minecraft</h1>
                <h1 id="stack-size-factor">Stack size: 64</h1>
                <h1 id="rarity-factor">Rarity: Common</h1>
                <h1 id="aquisition-method">Method to get: Smelting</h1>
                <h1 id="title">Crafting<span class="material-symbols-outlined">rocket_launch</span></h1>
                <img class="crafting-recipe" src="iron-ingot-recipe-1.png">
                <img class="crafting-recipe" src="iron-ingot-recipe-2.png">
                <h1 id="title">Smelting<span class="material-symbols-outlined">rocket_launch</span></h1>
                <img class="crafting-recipe" src="iron-ingot-smelting-1.png">
                <img class="crafting-recipe" src="iron-ingot-smelting-2.png">

            </div>
        </div>
    </div>
{% endblock %}