{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'itemclasshome.css') }}" /> 
    <title>MC Verse</title>
{% endblock %}

{% block body %}
    <div class="homepage">
        <div class="intro-block">
            <div class="title-block">
                <h1 id="title">All {{ pagename }}s<span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <p id="site-purpose">This is a place to view all current item classes
                </p>
            </div>
            <div class="table-wrapper">
                <table class="item-section">   
                    <caption></caption>
                    <th>Class</th>
                    {% for itemclass in itemclasses %}
                        <tr>
                            <td><a>{{itemclass.name}}</h3></td>
                            <td><a href="/deleteitemclass/{{itemclass.id}}">Delete</a></td>
                          
                        </tr>
                    {% endfor %}
                </table>
                <input type="button" onclick="location.href='#new-item'" value="New {{ pagename }}" id="new-item-button">
                <div id="new-item">
                    <button id="close" onclick="location.href='#body'">
                        <span class="material-symbols-outlined" id="background-circle">cancel</span>
                        <span class="material-symbols-outlined" id="xcircle">close</span>
                    </button>
                    <h1></h1>
                    <form action="/newitemclass" method="POST" enctype="multipart/form-data">
                        <label class="label-element">Class Name</label>
                        <input class="form-element" type="text" name="class-name" id="class-name">
                        <input type="submit" id="submit-button-item" value="Submit" class="btn">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}