{% extends "base.html" %}

{% block head%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'item.css') }}"/>
{% endblock %}

{% block body %} 
    <div class="homepage">
        <div class="intro-block" id="item-1">
            <div class="title-block">
                <h1 id="item_title" class="editable-item" contenteditable="{{editable}}">
                    {{ page_object.item_title }}
                    <span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <img id="item-image" src="{{image_url}}" contenteditable="{{editable}}">
            </div>
        </div>
        <div class="intro-block" id="item-2">
            <div class="item-info">
                <h1 id="title">Item Info<span class="material-symbols-outlined">rocket_launch</span></h1>
                {% if page_object.item_description!="" %}
                <p id="item_description" class="editable-item" contenteditable="{{editable}}">{{page_object.item_description}}
                {% else %}
                <p id="item_description" class="editable-item" contenteditable="{{editable}}">Empty Description

                {% endif %}
                </p>
                <div class="item-attributes">
                    <h3 id="item-num-db" >{{page_object.id}}</h3>
                    <h3 id="source_mod" class="editable-item" contenteditable="{{editable}}">Source mod: {{page_object.source_mod}}</h3>
                    <h3 id="stack_size" class="editable-item" contenteditable="{{editable}}">Stack size: {{page_object.stack_size}}</h3>
                    <h3 id="item_rarity" class="editable-item" contenteditable="{{editable}}">Rarity: {{page_object.item_rarity}}</h3>
                    <h3 id="dimension" class="editable-item" contenteditable="{{editable}}">Dimension to get: {{page_object.dimension}}</h3>
                    <h3 id="minecraft_item_id" class="editable-item" contenteditable="{{editable}}">Minecraft ID: {{page_object.minecraft_item_id}}</h3>
                </div>
            </div>
        </div>
        <div class="intro-block" id="item-3">
            <h1 class="title">
                Crafting<span class="material-symbols-outlined">rocket_launch</span></h1>
                {% for image in crafting_links %}
                    <img class="crafting-recipe" src="{{image}}" contenteditable="{{editable}}">
                {% endfor %}
        </div>
        <div class="intro-block" id="item-4">
            <h1 class="title">
                Smelting<span class="material-symbols-outlined">rocket_launch</span></h1>
                {% for image in smelting_links %}
                    <img class="crafting-recipe" src="{{image}}" contenteditable="{{editable}}">
                {% endfor %}
        </div>
        <div class="video">
            <iframe width="560" height="315" src="{{page_object.iframe_video_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen contenteditable="{{editable}}"></iframe>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'item_modification.js') }}"></script>
{% endblock %}

