{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style/learnpage.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- <script>
        $( function() {
            $( ".draggable-obj" ).draggable();
        } );
    </script> -->
{% endblock %}

{% block body %} 
    {% if editable == True %}
        <input type="hidden" id="master-page-id" value="{{ page.id }}" text="{{ page.id }}">
        <input type="hidden" id="master-page-name" value="{{ page.path }}" text="{{ page.path }}">
    {% endif %}
    <div class="homepage">
        <div class="intro-block" id="item-1">
            <div class="title-block">
                <h1 id="page-title-{{ page.id }}" class="editable-item" contenteditable="{{editable}}">
                    {{ page.div_title }}
                    <span class="material-symbols-outlined">rocket_launch</span>
                </h1>
            </div>
            <p id="page-text-{{ page.id }}" class="editable-item" contenteditable="{{editable}}">{{ page.text }}</p>
        </div>
        {% for div in divs %}
            <div class="intro-block user-created-div" id="user_created_page_div-{{ div.id }}-{{ div.placement_order }}">
                <button class="unlink-div" onclick="window.location.href='/unlinkpageitem/div/{{ div.id }}'"><span class="material-symbols-outlined">close</span></button>
                <div class="title-block">
                    <h1 id="div-title-{{ div.id }}" class="editable-item" contenteditable="{{editable}}">
                        {{ div.div_title }}
                        <span class="material-symbols-outlined">rocket_launch</span>
                    </h1>
                </div>
                <p id="div-text-{{ div.id }}" class="editable-item" contenteditable="{{editable}}">{{ div.text }}</p>
                {% for element in div.elements %}
                    {% if element.element_type == "img" %}
                        <img src="{{ element.text }}">

                    {% elif element.element_type == "h1" %}
                        <h1 class="editable-item" id="element-{{ element.id }}">{{ element.text }}</h1>

                    {% elif element.element_type == "h2" %}
                        <h2 class="editable-item" id="element-{{ element.id }}">{{ element.text }}</h2>

                    {% elif element.element_type == "p" %}
                        <p class="editable-item" id="element-{{ element.id }}">{{ element.text }}</p>
                    
                    {% elif element.element_type == "youtube" %}
                        <iframe width="560" height="315" src="{{ element.text }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    {% elif element.element_type == "image-carousel" %}
                        <section class="container">
                            <div class="slider-wrapper">
                                <div class="slider">
                                    {% for image in images %}
                                        <img id="carousel{{ element.id }}-slide{{ loop.index }}" src="{{ image }}" alt="Image"/>
                                    {% endfor %}
                                </div>
                                <div class="slider-nav">
                                    <a href="#carousel{{ element.id }}-slide{{ loop.index }}"></a>
                                </div>
                            </div>
                        </section>  
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        {% if editable == True %}
            <div  id="drop-container">
                <img src="{{ images[0].src }}" id="drop-zone-img" class="dropzone">
            </div>
        {% endif %}
        

        <div class="rightmenubar">
            {% if editable == True %}
                <a class="draggable-obj" draggable="true" id="drag_obj-{{ max_placement }}">Section</a>
            {% else %}
                <a href="#item-1">Introduction</a>
                {% for div in divs %}
                    <a href="#user_created_page_div_{{ div.id }}">{{ div.div_title }}</a>
                {% endfor %}
            {% endif %}
            <div id="openclosemenudiv">
                {% if editable == True %}
                    <button id="close" onclick="window.location.href='/learn/{{page.path}}/false'"><span id="editmenutextspan" class="material-symbols-outlined">done_outline</span></button>
                {% else %}
                    <button id="close" onclick="window.location.href='/learn/{{page.path}}/true'"><span id="editmenutextspan" class="material-symbols-outlined">edit</span></button>
                {% endif %}
            </div>
        </div>
    </div>
    {% if editable == True %}
        <script src="{{ url_for('static', filename='script/draggable.js') }}"></script>
        <script src="{{ url_for('static', filename='script/learning_page_modification.js') }}"></script>
    {% endif %}
{% endblock %}
