{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'profile.css') }}" /> 
    <title>Austin Fraley</title>
{% endblock%}

{% block body%}
    <div class="page-content-profile">
        <div class="intro-block">
            <div class="title-block" id="profile-item">
                <h1 id="site-purpose">
                    Profile<span class="material-symbols-outlined">rocket_launch</span>
                </h1>
                <form method="post" action="/profileimageupdate" id="profileimageform" enctype="multipart/form-data">
                    <input type="text" hidden name="user_id" value="{{ useraccount.id }}" text="{{ useraccount.id }}">
                    <div class="intro-block">
                        <label id="drop-area">
                            <input type="file" value="" text="" name="imageupload" accept="image/png, image/jpeg" hidden id="input-file">
                            <div id="img-view">
                                <img src="{{ useraccount.image_resource_link }}" class="topimage">
                            </div>
                        </label>
                    </div>

                </form>
                <!-- <img src="{{ useraccount.image_resource_link }}" class="topimage"></img> -->

                <p id="site-purpose">Name: {{ useraccount.full_name }}</p>
                <p id="site-purpose">Username: {{ useraccount.username }}</p>
                <p id="site-purpose">Email: {{ useraccount.auth.email_account }}</p>
                <p id="site-purpose">Birthdate: {{ useraccount.birthdate.month }}/{{ useraccount.birthdate.day }}/{{ useraccount.birthdate.year }}</p>
                <div class="permissions">
                    {% for permission in permissions %}
                        {% if permission.has == True %}
                            <p class="hasit">{{ permission.name }}<span class="material-symbols-outlined">check</span></p>
                        {% else %}
                            <p class="doesnthaveit"><a href="/requestpermission/{{permission.name}}/{{useraccount.id}}">{{ permission.name }}<span class="material-symbols-outlined">close</span></a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="user-details">
            <div class="intro-block">
                <div class="title-block">
                    <h1 id="title">
                        Bio<span class="material-symbols-outlined">rocket_launch</span>
                    </h1>
                    <p id="site-purpose">{{ useraccount.bio }}
                    </p>
                </div>
            </div>

            <div class="intro-block">
                <div class="title-block">
                    <h1 id="title">
                        My Experience<span class="material-symbols-outlined">rocket_launch</span>
                    </h1>
                    <p id="site-purpose">{{ useraccount.experience }}
                    </p>
                </div>
            </div>
        
    </div>
    <script src="static/profile.js"></script>
{% endblock %}